In [1]:
import pandas as pd

# 흐름: 실습용 주문 데이터 생성 후 CSV 파일로 저장
# 조건: category, sales, quantity 컬럼 포함
# 이유: groupby + agg 실습을 위한 기반 데이터 마련

data = {
    'order_id': [101, 102, 103, 104, 105, 106],
    'customer': ['Alice', 'Bob', 'Alice', 'Daniel', 'Bob', 'Alice'],
    'category': ['Coffee', 'Tea', 'Coffee', 'Juice', 'Coffee', 'Juice'],
    'sales': [5000, 3000, 8000, 2000, 7000, 2500],
    'quantity': [2, 1, 3, 1, 2, 1]
}

orders_df = pd.DataFrame(data)

# CSV로 저장 (index 제외)
orders_df.to_csv("orders_sample.csv", index=False)

In [4]:
# 이건 오류는 안 나지만 원하는 구조 아님
orders_df.groupby('category')[['sales', 'quantity']].agg(['sum', 'mean'])

# 딕셔너리 방식: 열마다 통계 다르게 적용 가능
orders_df.groupby('category').agg({
    'sales': ['sum', 'mean'],
    'quantity': ['max']
})

          sales              quantity
            sum         mean      max
category
Coffee    20000  6666.666667        3
Juice      4500  2250.000000        1
Tea        3000  3000.000000        1

In [5]:
# 흐름: 저장된 주문 데이터를 로드한 뒤, 카테고리별 요약 통계 계산
# 조건: sales는 합계+평균, quantity는 최대값
# 이유: 리포트 생성 및 분석용 통계 추출

df = pd.read_csv("orders_sample.csv")

# groupby + agg 딕셔너리 방식 적용
summary = df.groupby('category').agg({
    'sales': ['sum', 'mean'],
    'quantity': ['max']
})

# 결과 출력 (일단 raw 형태로 확인)
print(summary)

          sales              quantity
            sum         mean      max
category
Coffee    20000  6666.666667        3
Juice      4500  2250.000000        1
Tea        3000  3000.000000        1

In [6]:
# 흐름: groupby + agg 결과를 정렬하고 컬럼명을 깔끔하게 정리
# 조건: total_sales 기준 내림차순 정렬, 컬럼명은 1단 구조로 변경
# 이유: 리포트에 바로 넣을 수 있는 형태로 만들기 위함

# 1. 컬럼명 재정의
summary.columns = ['total_sales', 'avg_sales', 'max_quantity']  # 1단 컬럼으로 변환

# 2. 인덱스 리셋 (category가 index에 있으므로 일반 컬럼으로 변경)
summary = summary.reset_index()

# 3. 정렬: total_sales 기준 내림차순
summary = summary.sort_values(by='total_sales', ascending=False)

# 4. 저장
summary.to_csv("category_sales_report.csv", index=False)

# 5. 결과 확인
print(summary)

  category  total_sales    avg_sales  max_quantity
0   Coffee        20000  6666.666667             3
1    Juice         4500  2250.000000             1
2      Tea         3000  3000.000000             1