In [ ]:
# Day 22 - SQL SELECT ë§›ë³´ê¸°

"""
ğŸ“˜ SELECT ê¸°ë³¸ ë¬¸ë²• ë§›ë³´ê¸°
"""

# ì˜ˆì œ 1: ì „ì²´ ë³´ê¸°
# SELECT * FROM menu;

# ì˜ˆì œ 2: ì»¬ëŸ¼ ì„ íƒ + ë³„ëª…
# SELECT name AS ë©”ë‰´ì´ë¦„, price AS ê°€ê²© FROM menu;

# ì—°ìŠµ
# 1. ë©”ë‰´ ì´ë¦„ë§Œ ì¡°íšŒ
# 2. ê°€ê²©ì— 10% ë¶€ê°€ì„¸ í¬í•¨ ê¸ˆì•¡ë„ í•¨ê»˜ ì¡°íšŒ

%sql SELECT name FROM meun;

%sql SELECT name, price * 1.1 AS ë¶€ê°€ì„¸ FROM meun;