-- ORDER BY 컬럼명 ASC 또는 DESC
-- ASC: 오름차순 (작은 값 → 큰 값)
-- DESC: 내림차순 (큰 값 → 작은 값)

예제 1: 가격이 싼 순서대로 정렬하기

SELECT name, price FROM menu
ORDER BY price ASC;

예제 2: 가격이 비싼 순서대로 정렬하기

SELECT name, price FROM menu
ORDER BY price DESC;

In [ ]:
문제:
가격 기준으로 정렬하되, 가장 비싼 메뉴부터 출력해보세요.
메뉴 이름과 가격만 출력하세요.

%sql SELECT name,price FROM menu ORDER BY price ASC;