-- WHERE = "이 조건에 맞는 데이터만 보여줘!"
-- 마치 Excel에서 필터 거는 것처럼 작동해

-- 기본 SELECT
SELECT * FROM menu;

-- 조건 추가: 가격이 5000원 이상인 메뉴만 보고 싶을 때
SELECT * FROM menu
WHERE price >= 5000;

-- 예제 1: 5000원 이상 메뉴
SELECT name, price FROM menu
WHERE price >= 5000;

-- 예제 2: 메뉴 이름이 "아메리카노"인 항목
SELECT * FROM menu
WHERE name = '아메리카노';

In [ ]:
%sql SELECT name, price FROM meun WHERE price <= 7000;

%sql SELECT * FROM meun WHERE = '카페라뗴';