In [ ]:
# Day 22 - SQL SELECT 맛보기

"""
📘 SELECT 기본 문법 맛보기
"""

# 예제 1: 전체 보기
# SELECT * FROM menu;

# 예제 2: 컬럼 선택 + 별명
# SELECT name AS 메뉴이름, price AS 가격 FROM menu;

# 연습
# 1. 메뉴 이름만 조회
# 2. 가격에 10% 부가세 포함 금액도 함께 조회

%sql SELECT name FROM meun;

%sql SELECT name, price * 1.1 AS 부가세 FROM meun;